:root {
    --bg: #f7f3ee;
    --text: #2b2b2b;
    --primary: #c7a27c;
    --card: #ffffff;
    --radius: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
}


header {
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: var(--primary);
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: var(--primary);
}


.hero {
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.hero p {
    color: #6e6e6e;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: var(--primary);
    color: #fff;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 16px;
}



.hero-img {
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 25px;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}


section {
    padding: 50px 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--primary);
}

.desc {
    text-align: center;
    color: #6e6e6e;
    margin-bottom: 30px;
}


.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.card {
    background: var(--card);
    padding: 25px;
    border-radius: var(--radius);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}


.contact {
    text-align: center;
    font-size: 18px;
}


footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    margin-top: 40px;
    color: #6e6e6e;
    font-size: 14px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

@media(min-width:750px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero h1 {
        font-size: 48px;
    }
}
